<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../vue.js"></script>
</head>
<body>
<pre>
slot: 해당하는 컨텐츠를 출력하게 해줌
default 값도 설정이 가능 <슬롯>이곳에 넣으면 됨<슬롯>
이름을 설정하여 원하는 html 태그 내에 슬롯 태그로 슬롯으로 만들 수 있다.
</pre>
    <div id="app">  
        <my-comp>
            <div slot="slot1">Hello Slot!</div>
            <input type="text">
        </my-comp>
    </div>

    <script>
        Vue.component('my-comp', {
            template: '<div> <slot>default값 설정</slot><slot name="slot1"></slot></div>'
        })

        const vm = new Vue({
            el: '#app',
        })
    </script>
</body>
</html>